.DS_Store
chess-server/chess-dev.sqlite
ios-chess-client/ios-chess-client.xcodeproj/project.xcworkspace/xcuserdata/
ios-chess-client/ios-chess-client.xcodeproj/xcschemes/xcschememanagement.plist
ios-chess-client/ios-chess-client.xcodeproj/xcuserdata/
ios-chess-client/ios-chess-client.xcodeproj/project.xcworkspace/xcuserdata/
